# IDE and Gradle things
build
.gradle
run
.idea

# Server things
/nvfolia-server/build.gradle.kts
/nvfolia-server/src/minecraft
/paper-server
/purpur-server
/nvfolia-api/build.gradle.kts
/paper-api
/purpur-api
/paper-checkstyle
/.checkstyle
/etherium-checkstyle/build.gradle.kts
*.jar
changelog.md
